<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Practica01</title>
        <meta charset="UTF-8"/>
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
        <link th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.3.5/js/bootstrap.min.js}"></script>
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <header class="header">

        </header>
        <footer class="p-2 mt-5 bg-info text-white">
            <p class="lead text-center">PRACTICA01 &COPY;</p>
        </footer>
    </body>
</html>
