<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}"/>

    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div class="participantes">
            <table>
                <ul>Grupo 6</ul>
                <ul>Kendall Gomez</ul>
                <ul>Josue Barquero</ul>
                <ul>Monica Abarca</ul>
            </table>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
